<div id="related_wrap">
    <ul>
        {% for other in other_info %}
            <li>
                {{ other.get }}
            </li>
        {% endfor %}
    </ul>
    {% if related_info_list %}
        <table>
        {% for related_info in related_info_list %}
            <tr>
                <td>
                    {{ related_info.type.string_value }}
                    {{ related_info.identifier_type.string_value }}
                    {{ related_info.identifier.string_value }}
                    {{ related_info.title.string_value }}
                    {{ related_info.notes.string_value }}
                </td>
            {% if has_write_permissions %}
                <td>
                    <a href="{% url tardis.apps.related_info.views.edit_info experiment_id related_info.id %}">edit</a>
                </td>
                <td>
                    <a href="{% url tardis.apps.related_info.views.delete_info experiment_id related_info.id %}" class="delete">delete</a>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
        No related URIs
    {% endif %}

    {% if has_write_permissions %}
        <a href="{% url tardis.apps.related_info.views.add_info experiment_id %}">add related info</a>
    {% endif %}

    {% if has_write_permissions %}
        <script>
            $('#related_wrap a.delete').click(function(evt) {
                evt.preventDefault();
                $.post(this.href, {}, function(){
                    $('#related_wrap').load('{% url tardis.apps.related_info.views.index experiment_id %}');
                });
            });
        </script>
    {% endif %}
</div>
