<div id="related_wrap">
    <ul>
        {% for other in other_info %}
            <li>
                {{ other.get }}
            </li>
        {% endfor %}
    </ul>
    {% if related_uris %}
        <table>
        {% for related_uri in related_uris %}
            <tr>
                <td>
                    {{ related_uri.uri.string_value }}
                    {{ related_uri.title.string_value }}
                    {{ related_uri.notes.string_value }}
                </td>
            {% if has_write_permissions %}
                <td>
                    <a href="{% url tardis.apps.related_info.views.edit_uri experiment_id related_uri.id %}">edit</a>
                </td>
                <td>
                    <a href="{% url tardis.apps.related_info.views.delete_uri experiment_id related_uri.id %}" class="delete">delete</a>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
        No related URIs
    {% endif %}

    {% if has_write_permissions %}
        <a href="{% url tardis.apps.related_info.views.add_uri experiment_id %}">add related_uri</a>
    {% endif %}


    <hr />


    {% if related_publications %}
        <table>
            {% for related_publication in related_publications %}
                <tr>
                    <td>
                    {{ related_publication.url.string_value }}
                    {{ related_publication.title.string_value }}
                    {{ related_publication.notes.string_value }}
                    </td>
                    {% if has_write_permissions %}
                        <td>
                            <a href="{% url tardis.apps.related_info.views.edit_publication experiment_id related_publication.id %}">edit</a>
                        </td>
                        <td>
                            <a href="{% url tardis.apps.related_info.views.delete_publication experiment_id related_publication.id %}" class="delete">delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        No related publications
    {% endif %}

    {% if has_write_permissions %}
        <a href="{% url tardis.apps.related_info.views.add_publication experiment_id %}">add related publication</a>
    {% endif %}

    {% if has_write_permissions %}
        <script>
            $('a.delete').click(function(evt) {
                evt.preventDefault();
                $.post(this.href, {}, function(){
                    $('#related_wrap').load('{% url tardis.apps.related_info.views.index experiment_id %}');
                });
            });
        </script>
    {% endif %}
</div>
